.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calculationTime {
  font-size: larger;
}

.tableBorder {
  border: 1px solid black;
}

.tableCell {
  text-align: center;
  vertical-align: middle;
  width: 70px;
  height: 20px;
  border: 1px solid black;
}