.paper {
  width: 85vw;
  margin: 50px auto auto auto;
}

.slider {
  width: 70vw;
  height: 40px;
  margin-left: 25px;
}

.line {
  width: calc(85vw - 20px);
  position: absolute;
}

.table {
  margin: 10px 10px 10px 10px;
}

.button {
  width: 200px;
}